{{ define "header" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <link rel="stylesheet" href="/static/css/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <section class="hero is-info">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
                Todo App
            </h1>
            <h2 class="subtitle">
                golang
            </h2>
          </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
{{ end }}

{{ define "footer" }}
        </div>
    </section>
</body>
</html>
{{end}}