{{ template "header" }}


{{ define "card-item" }}
<div class="card mb-2">
    <header class="card-header">
      <p class="card-header-title">
        Component
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
        <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
        <br>
        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" class="card-footer-item">Edit</a>
      <a href="#" class="card-footer-item notification is-danger">Delete</a>
    </footer>
  </div>
{{ end }}

<div class="columns">
    <div class="column is-9">
        {{ template "card-item" }}
    </div>
    <div class="column is-3">
        <a href="/add-task" class="button is-info is-fullwidth">Add Task</a>
    </div>
</div>

{{ template "footer" }}
